* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* FONDO DE PANTALLA */

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000000;
}

/* BARRA DE NAVEGACIÓN */

header {
    height: 10vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

/* LOGO */

header .logoContainer img {
    height: 10vh;
    width: auto;
    margin: 0 20px;
    /* background-color: aqua; */
}

/* BOTONES DEL NAV */

nav {
    overflow: hidden;

}

header nav .menuBtn {
    display: inline-block;
}

header nav div .buttonLink {
    background-color: #000000;
    color: #ff6c28;
    height: 10vh;
    padding: 20px;
    border-style: none;
    font-size: 24px;
    transition: 0.10s;
    opacity: 0.6;
}

header nav div .buttonLink:hover {
    border-bottom: 2px solid #ff6c28;
    opacity: 1;
    cursor: pointer;
}

header nav div .buttonLink:active {
    outline: none;
}

header nav div .active {
    border-bottom: 2px solid #ff6c28;
    outline: none;
    opacity: 1;
}

/****************************/
/* 1° BOTÓN --> QUICK GUIDE */
/****************************/

/* Contenedor de los botones desplegables */

div .buttonContent {
    display: flex;
    justify-content: center;
}

/* Botones desplegables */

div .boton-desplegable {
    background-color: #000000;
    color: #ff6c28;
    height: 10vh;
    width: 99%;
    margin: 0 6px;
    padding: 20px;
    font-size: 24px;
    border-style: none;
    outline: none;
    text-align: left;
    transition: 0.4s;
}

div .boton-desplegable:hover {
    opacity: 1;
    cursor: pointer;
}

div .boton-desplegable:active {
    outline: none;
}

div .texto-desplegable {
    display: none;
}

/****************************/
/* 2° BOTÓN --> QUICK PEEK  */
/****************************/

/* CONTENEDOR Y ESTILADO (PRINCIPAL) DE BOTONES Y TABLAS */

.buttonContent {
    display: flex;
    justify-content: center;
    height: 550px;
    margin-top: 6px;
    animation: fadeEffect 0.4s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* OPCIONES DE QUICK PEEK DE LOS BOTONES SURVIVOR/KILLER */

.buttonContent .survivorsOption, .killersOption {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000025;
}

.buttonContent .bigBtn {
    background-color: #ff6c28;
    /* padding: 0 50%;
    margin: 50px; */
    font-size: 70px;
    border-style: none;
    width: 99%;
    opacity: 0.5;
    border-radius: 5px;
}

.buttonContent .bigBtn:hover {
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
}

/* SE AJUSTAN LOS DIVS PARA QUE QUEDEN DENTRO DE UNA TABLA */

.buttonContent #survivorsContainer, #killersContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}